@font-face {
    font-family: hand;
    font-size: 14vw;
    src: url("Fonts/pinoshand.ttf");
}

@font-face {
    font-family: music;
    font-size: 14vw;
    src: url("Fonts/pinosmusic.ttf");
}

@font-face {
    font-family: leland;
    font-size: 14vw;
    src: url("Fonts/LelandText.otf");
}

#box-one {
    background-color: rgb(46, 40, 40);
    border: .25vw solid black;
    border-style: outset;
    padding: 2%;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 10.5s, border 0.35s;
}

#box-one:hover {
    background-color: rgb(36, 24, 37);
    /* border: .25vw solid rgb(34, 2, 2); */
    border-style: inset;
}

#margin-l10 {
    margin-left: 10%;
}

#margin-l35 {
    margin-left: 35%;
}

#center-text {
    text-align: center;
}

#no-wrap {
    white-space: nowrap;
}

body {
    background: linear-gradient(55deg, #0F0703 0%, #130F07 51%, #1F1713 85%);
    background-color: #0F0703;
    /* width: fit-content; */
    margin: 1vw;
    margin-top: 2vw;
    color: #F7F3F0;
    font-family: hand;
    padding: 2vw;
}

h1 {
    text-align: center;
    color: rgb(255, 0, 0);
    margin-left: 2vw;
}

h3 {
    color: rgb(254, 205, 153);
    margin-left: 2vw;
}

h2 {
    color: rgb(209, 203, 196);
    margin-left: 2vw;
}


p {
    color: rgb(235, 228, 238);
    margin: 1.25vw;
    padding: 1vw;
    font-size: 2vw;
}


a:link {
    text-decoration: none;
    color: cyan;
}

a:visited {
    text-decoration: none;
    color: rgb(246, 183, 110);
}

a:hover {
    text-decoration: none;
    color: rgb(209, 203, 196);
}

a:active {
    text-decoration: none;
}


.center-auto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    /* width: 100%; */
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    margin: 1.25vw;
    margin-top: 15vw;
    border: 1vw solid rgb(0, 0, 0);
    width: auto;
    /* background-color: rgb(26, 29, 30); */
    background: linear-gradient(55deg, #130F07 0%, #1F1713 51%, #0F0703 85%);
}



m-u {
    font-family: music;
}

m-b::before {
    font-family: music;
    content: "b"
}

m-s::before {
    font-family: music;
    content: "s"
}

m-n::before {
    font-family: music;
    content: "n"
}

m-1::before {
    font-family: music;
    content: "!"
}

m-2::before {
    font-family: music;
    content: "@"
}

m-3::before {
    font-family: music;
    content: "#"
}

m-4::before {
    font-family: music;
    content: "$"
}

m-5::before {
    font-family: music;
    content: "%"
}

m-6::before {
    font-family: music;
    content: "^"
}

m-7::before {
    font-family: music;
    content: "&"
}

m-ma::before {
    font-family: music;
    content: "M"
}

m-mm::before {
    font-family: music;
    content: "m"
}

m-º::before {
    font-family: music;
    content: "º"
}

m-ø::before {
    font-family: music;
    content: "ø"
}